<?xml version="1.0"?>
<config>
    <modules>
        <Daluz_PagueVeloz>
            <version>0.2.0</version>
        </Daluz_PagueVeloz>
    </modules>
    <global>
        <helpers>
            <pagueveloz>
                <class>Daluz_PagueVeloz_Helper</class>
            </pagueveloz>
        </helpers>
        <blocks>
            <pagueveloz>
                <class>Daluz_PagueVeloz_Block</class>
            </pagueveloz>
        </blocks>
        <models>
            <pagueveloz>
                <class>Daluz_PagueVeloz_Model</class>
                <resourceModel>pagueveloz_mysql4</resourceModel>
            </pagueveloz>
            <pagueveloz_mysql4>
                <class>Daluz_PagueVeloz_Model_Mysql4</class>
                <entities>
                    <boleto>
                        <table>pagueveloz_boleto</table>
                    </boleto>
                </entities>
            </pagueveloz_mysql4>
        </models>
        <resources> 
            <pagueveloz_setup>
                <setup>
                    <module>Daluz_PagueVeloz</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagueveloz_setup>
            <pagueveloz_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagueveloz_write>
            <pagueveloz_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagueveloz_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <pagueveloz>
                    <file>pagueveloz_boleto.xml</file>
                </pagueveloz>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <pagueveloz>
                    <file>pagueveloz_boleto.xml</file>
                </pagueveloz>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <pagueveloz_boleto>
                <active>0</active>
                <production>0</production>
                <model>pagueveloz/boletoMethod</model>
                <order_status>pending</order_status>
                <title>Boleto</title>
                <allowspecific>0</allowspecific>
                <instructions>Pague em qualquer banco</instructions>
            </pagueveloz_boleto>
        </payment>
    </default>
    <crontab>
        <jobs>
            <pagueveloz_boleto>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pagueveloz/cron::verificaBoletoPago</model>
                </run>
            </pagueveloz_boleto>
        </jobs>
    </crontab>
</config>